<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings xdt:Transform="Replace">
		<remove name="LocalSqlServer"/>
		<add name="CM" connectionString="Data Source=AMMHINTESTDB3;Initial Catalog=NAC_CM2;UID=NACCM;PWD=naccm;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings xdt:Transform="Replace">
		<add key="loggingLevel" value="1"/>
		<add key="maxLogFileSize" value="2000000"/>
		<add key="maxLogFiles" value="21"/>
		<add key="logFilePath" value="E:\NACCMWebVersion\Log"/>

		<add key="contractManagerDatabaseServerName" value="AMMHINTESTDB3"/>
		<add key="contractManagerDatabaseName" value="NAC_CM2"/>
		<add key="drugItemDatabaseName" value="DrugItem"/>
		<add key="drugItemDatabaseServerName" value="AMMHINTESTDB3"/>

		<add key="medSurgItemTemplateDirectoryPathAndFile" value="C:\ItemExport\bin\MedSurgItemExport.xls"/>
		<add key="medSurgItemExportDirectoryPath" value="\\ammhinsql2\PricelistExportMedSurg\"/>
		<add key="drugItemExportDirectoryPath" value="\\ammhinsql2\PricelistExportDrugItem\"/>

		<add key="contractManagerDatabaseCommonUserName" value="NACCM"/>
		<add key="contractManagerDatabaseCommonUserPassword" value="naccm"/>

		<add key="exportDatabaseServerName" value="AMMHINTESTDB3"/>
		<add key="exportDatabaseName" value="ExportUpload"/>

		<add key="reportingServicesServerName" value="AMMHINTESTRPT3"/>
		<add key="reportingServicesInstanceName" value=""/>

		<add key="securityDatabaseServer" value="AMMHINTESTDB3"/>
		<add key="securityDatabase" value="NACSEC"/>
		<add key="securityCommonUserName" value="SecurityUser"/>
		<add key="securityCommonPassword" value="SecurityUser**"/>
		<add key="ItemVersion" value="I2"/>
		<add key="SalesVersion" value="S1" />
	</appSettings>


	<system.web>
		<compilation xdt:Transform="Replace" targetFramework="4.8"></compilation>
	</system.web>


</configuration>
